.sidebarOption{
  color: grey;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 200ms color ease-in;
}
.sidebarOption:hover {
  color:white;

}
.sidebarOtion_icon{
  padding-left:10px;
  padding-right: 10px;
}
.sidebarOption > p{
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}